@import url(./__caption/lead__caption.css);
@import url(./__figure/lead__figure.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead{
	position: relative;
	margin: 56px auto 92px auto;
    max-width: 984px;
    padding-left: 48px;
    padding-right: 48px;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin-top: 48px;
    }
}

@media screen and (max-width: 768px) {
	.lead {
        margin-bottom: 88px;
    	padding-left: 0;
    	padding-right: 0;
    }
}

@media screen and (max-width: 640px) {
    .lead {
        margin-bottom: 64px;
    }
}