.cover__subtitle {
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
}

@media screen and (max-width: 640px) {
    .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 272px;
    padding-top: 16px;
    }
}