.header__logo {
	position: relative;
	background-image: url(../../../images/header-logo.svg);
	background-repeat: no-repeat;
	width: 176px;
	height: 52px;
	background-size: 176px 52px;
}

@media screen and (max-width: 640px) {
    .header__logo {
    width: 142px;
	height: 42px;
	background-size: 142px 42px;
    }
}